
<h3><%= destination.name %></h3>
<div class="destinations">
	<img src="<%= destination.image_url %>" />
</div>

<div class="todo_items">
	<% destination.todo_items.each do |x| %>
	<%= render x %>
	<% end %>
</div>

