body{
	background-image:url('http://musingsfrommommyland.files.wordpress.com/2012/09/bucket-list-pic.png');
	background-size:1000px 1000px;
	background-repeat:no-repeat;
	background-position: center;
}