// body{
// 	background: -webkit-linear-gradient(top, rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%);
// 	background-repeat:no-repeat;
// 	background-position: center;
// 	background-size: 100% 100%;
// 	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
// }


body{
	background-color:#00FFFF;
}

.like img{
	width:35px;
	height:35px;
	text-align: center;
	

}

.comments{
	height:35px;
	width:35px;
	text-align: center;


}

.container {
	position:absolute;
	top:10em;
	border:2px solid #999;
	background-color: #E8E2E2;
	border-radius:50px;
	width:640px;
	text-align: center;

	
	
}

#search-box{
	
	margin-left:900px;	

}
.comment{
	border:2px solid #999;
	padding:10px;
	margin: 10px;
	background:#0099FF;
	border-radius:20px;
	margin-right:60px;
	margin-top:60px;


}

.todo-item{
	border:2px solid #999;
	padding:10px;
	margin: 10px;
	background:#fff;
	border-radius:20px;
	top: 10em;
	width:400px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	text-align: center;
	margin-left:90px;
	
}
h3{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	
}
.destinations{
	text-align: center;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	
	

}
.destinations img{
	height:400px;
	width:600px;
	border:#C93939 20px;
	box-shadow: 10px 10px 5px #888;
	float:left;
	margin-bottom:50px;
	margin-left:5px;


.banner {
	position:absolute;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	margin-bottom:15px;
	text-align:center;
}

}
 
h1{
	
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;;
	margin-left:15px;
	margin-bottom:15px;
	text-align: center;
	
}


